.root
  position: absolute
  z-index: 0
  top: 0
  bottom: 0
  left: 0
  right: 0
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 100%
  height: 100%
  padding: 0
  touch-action: none
  will-change: transform

  &._performance
    -webkit-backface-visibility: hidden
    -webkit-transform-style: preserve-3d
    -webkit-perspective: 1200px

.image
.player
  max-width: 100%
  max-height: calc(100% - 96px - env(safe-area-inset-bottom, 0) - env(safe-area-inset-top, 0))
  -webkit-touch-callout: default

.image
  display: block
  width: auto
  height: auto

.loader
  position: absolute
  z-index: 12

:global(.fullscreen)
  .image
  .player
    max-height: calc(100% - env(safe-area-inset-bottom, 0) - env(safe-area-inset-top, 0))
