.root
  padding: 12px 0 16px
  white-space: pre-line
  overflow-wrap: break-word
  font-family: var(--font-family-content)
  font-weight: var(--font-weight-content)
  font-size: 16px
  letter-spacing: .2px

  &._empty
    padding-top: 0

.emptyText
  padding-top: 12px
  font-size: 12px
  color: var(--disabled-font-color)
  text-align: center
