.root
  position: relative
  flex-grow: 1
  display: flex
  flex-direction: column-reverse
  align-items: center
  width: 100%

  overflow: auto
  -webkit-overflow-scrolling: touch
  scroll-behavior: smooth
  scrollbar-width: none
  &::-webkit-scrollbar
    display: none
