.root
  position: relative
  top: env(safe-area-inset-top, 0)
  display: flex
  flex-direction: column
  align-items: center
  width: calc(100% - env(safe-area-inset-right, 0))
  height: calc(100% - 96px - env(safe-area-inset-bottom, 0) - env(safe-area-inset-top, 0))

  overflow-y: scroll
  overflow-y: overlay
  -webkit-overflow-scrolling: touch
  scroll-behavior: smooth
  scrollbar-width: thin
  scrollbar-color: var(--scrollbar-color) var(--scrollbar-background-color)

  &::-webkit-scrollbar
    position: absolute
    background-color: var(--scrollbar-background-color)
    width: 4px

  &::-webkit-scrollbar-track
    background-color: var(--scrollbar-background-color)

  &::-webkit-scrollbar-thumb
    background-color: var(--scrollbar-color)
    border-radius: 4px

  &::-webkit-scrollbar-button
    display: none

  @media screen and (min-width: $sidebar-width + $content-width + 40px)
    &::-webkit-scrollbar
      width: 8px

    &::-webkit-scrollbar-thumb
      border-radius: 8px

._fullHeight
  height: calc(100% - 48px - env(safe-area-inset-bottom, 0) - env(safe-area-inset-top, 0))
