.root
  position: relative
  display: flex
  align-items: center
  flex-shrink: 0
  padding: 0 16px
  height: 52px
  background-color: var(--color-black-3)

  &::after
    position: absolute
    z-index 0
    top: 22px
    right: 10px
    display: block
    width: 60px
    height: 60px
    border-radius: 50%
    background-color: var(--color-black-2)
    content: ''

  > button
    position: relative
    margin-left: 4px

    &::after
      position: absolute
      top: -8px
      bottom: -8px
      width: 100%
      content: ''

    &:first-of-type
      margin-left: 8px
