:root
  --color-blue: $color-brand
  --color-black-0: #000000
  --color-black-1: #191b1d
  --color-black-2: #212427
  --color-black-3: #26292c
  --color-grey-0: #8e9295
  --color-white: #ffffff
  --color-red: #da5b4f

  --color-random-0: $color-brand
  --color-random-1: #50c236
  --color-random-2: #16856f
  --color-random-3: #234e00
  --color-random-4: #efc306
  --color-random-5: #a85642
  --color-random-6: #025594
  --color-random-7: #434481
  --color-random-8: #ff6c53
  --color-random-9: #f12e38
  --color-random-10: #d92354
  --color-random-11: #eb8b8e
  --color-random-12: #b51f8f
  --color-random-13: #f7f6b6
  --color-random-14: #e7d6ce

  --default-font-color: var(--color-white)
  --default-background-color: var(--color-black-1)
  --default-popup-border: var(--color-grey-0)

  @media $light
    --default-font-color: var(--color-black-0)
    --default-background-color: var(--color-white)
    --default-popup-border: transparent

  --color-random-: #e57373
  --color-random-: #69f0ae
  --color-random-: #f06292
  --color-random-: #eeff41
  --color-random-: #ba68c8
  --color-random-: #536dfe
  --color-random-: #64ffda
  --color-random-: #7c4dff
  --color-random-: #00e5ff
  --color-random-: #1de9b6
  --color-random-: #4dd0e1
  --color-random-: #81c784
  --color-random-: #aed581
  --color-random-: #7986cb
  --color-random-: #d4e157
  --color-random-: #b2ff59
  --color-random-: #ffd54f
  --color-random-: #9575cd
  --color-random-: #ffb74d
  --color-random-: #c6ff00
  --color-random-: #ffa726
  --color-random-: #ff7043
  --color-random-: #ff9100
  --color-random-: #ffea00
  --color-random-: #00e676
  --color-random-: #76ff03
  --color-random-: #aeea00
  --color-random-: #cddc39
  --color-random-: #8bc34a
  --color-random-: #7e57c2
  --color-random-: #d500f9
  --color-random-: #ff8a80
  --color-random-: #ff80ab
  --color-random-: #ea80fc
  --color-random-: #f4ff81
  --color-random-: #b388ff
  --color-random-: #8c9eff
  --color-random-: #80d8ff
  --color-random-: #84ffff
  --color-random-: #a7ffeb
  --color-random-: #82b1ff
  --color-random-: #b9f6ca
  --color-random-: #ccff90
  --color-random-: #ffe57f
  --color-random-: #ffd180
  --color-random-: #ff9e80
  --color-random-: #18ffff
  --color-random-: #ff4081
  --color-random-: #e040fb
  --color-random-: #ff5252
