vars = json('./styles.vars.json', { hash: true })

$desktop = vars.desktop
$mobile = vars.mobile
$color-brand = vars.color-brand
$dark = "(prefers-color-scheme: dark)"
$standalone = "(display-mode: standalone)"
$hover = "(hover: hover)"
$sidebar-width = 320px
$content-width = 664px
$widget-width = 300px
