:root
  --color-brand: $color-brand
  --color-white: #ffffff
  --color-black: #000000
  --color-red: #da5b4f
  --color-light-1: #707579
  --color-light-2: #8e9295
  --color-light-3: #c8c7cc
  --color-light-3-5: darken(#f4f4f5, 5%)
  --color-light-4: #f4f4f5
  --color-dark-1: #191b1d
  --color-dark-2: #212427
  --color-dark-3: #26292c
  --color-dark-4: #81909f

  --default-font-color: var(--color-black)
  --default-background-color: var(--color-white)
  --sidebar-background-color: var(--color-white)
  --sidebar-header-background-color: var(--color-white)
  --content-background-color: var(--color-light-4)
  --content-form-background-color: var(--color-white)
  --dropdown-border: transparent
  --dropdown-item-border: var(--color-light-4)
  --icon-background-color: var(--color-white)
  --icon-border-color: var(--color-black)
  --avatar-background-color: var(--color-light-4)
  --item-border-color: var(--color-light-4)
  --menu-icon-color: var(--color-light-3-5)

  @media $dark
    --default-font-color: var(--color-white)
    --default-background-color: var(--color-dark-1)
    --sidebar-background-color: var(--color-dark-2)
    --sidebar-header-background-color: var(--color-dark-3)
    --content-background-color: var(--color-dark-1)
    --content-form-background-color: var(--color-dark-3)
    --dropdown-border: var(--color-light-2)
    --dropdown-item-border: var(--color-dark-3)
    --icon-background-color: var(--color-dark-3)
    --icon-border-color: var(--color-white)
    --avatar-background-color: var(--color-dark-2)
    --item-border-color: var(--color-dark-3)
    --menu-icon-color: var(--color-dark-3)
