.root
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  width: 100%
  height: 100%
  padding: 8px 0 6px
  border-radius: 8px
  background-color: var(--color-blue-1)
  color: var(--color-white)
  font-size: 12px
  text-transform: lowercase

  &._center
    justify-content: center
    padding: 0

  > svg
    fill: var(--color-white)

._black
  background-color: #080810

._lightBlue
  background-color: #6cb9f1

._blue
  background-color: #0f70b7

._green
  background-color: #3baa34

._red
  background-color: #d04526

._grey
  background-color: #998b79
