.root
  display: flex
  align-items: center
  width: 100%
  height: 33px
  font-size: 12px
  border-bottom: 1px solid var(--item-border-color)
  color: var(--color-light-2)

  > span
    user-select: none
