.root
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  height: 100%
  border-radius: 8px
  background-color: var(--color-blue-1)

  > svg
    width: 24px
    height: 24px
    fill: var(--color-white)
    transform: rotate(-45deg)
