._animation
  &.root
    will-change: transform, opacity
    transform: translateX(80px)
    opacity: 0

  &._performance
    -webkit-backface-visibility: hidden
    -webkit-transform-style: preserve-3d
    -webkit-perspective: 1200px

._animationFallback
  &.root
    will-change: transform, opacity
    animation-name: slideIn
    animation-duration: .2s
    animation-timing-function: ease-in-out
    animation-fill-mode: forwards

@keyframes slideIn
  0%
    transform: translateX(80px)
    opacity: 0
  100%
    transform: translateX(0)
    opacity: 1
