.root
  position: relative
  width: 22px
  height: 22px
  border-radius: 50%
  font-size: 10px
  color: var(--default-font-color)

  &._big
    width: 44px
    height: 44px

  &._small
    width: 16px
    height: 16px

  &._contrast
    background-color: var(--color-black-05)
    color: var(--color-white)

.icon
  position: absolute
  width: 100%
  height: 100%
  border: 2px solid var(--icon-border-color)
  border-left-color: var(--icon-second-border-color)
  border-radius: 50%
  will-change: transform
  animation: rotate 1.1s infinite linear

  &._brand
    border-top-color: var(--color-brand)
    border-right-color: var(--color-brand)
    border-bottom-color: var(--color-brand)

  &._grey
    border-left-color: transparent
    border-top-color: var(--menu-icon-color)
    border-right-color: var(--menu-icon-color)
    border-bottom-color: var(--menu-icon-color)

  &._white
    border-top-color: var(--color-white)
    border-right-color: var(--color-white)
    border-bottom-color: var(--color-white)

  &._blue
    border-top-color: var(--color-blue-1)
    border-right-color: var(--color-blue-1)
    border-bottom-color: var(--color-blue-1)

.progress
  position: absolute
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  align-items: center

@keyframes rotate
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)
