.root
  position: relative
  z-index: 4
  flex-shrink: 0
  display: flex
  width: 100%
  height: 100%
  background-color: var(--sidebar-background-color)
  overflow: hidden

  @media $desktop
    min-width: $sidebar-width
    width: calc(20vw + env(safe-area-inset-left, 0))

._mobileTransparent
  @media $mobile
    background-color: transparent
