.root
  position: absolute
  z-index: 6
  bottom: 0
  flex-shrink: 0
  width: 100%
  max-width: 100%
  max-height: 100%
  padding: 0 calc(6px + env(safe-area-inset-right, 0)) env(safe-area-inset-bottom, 0) calc(16px + env(safe-area-inset-left, 0))
  background-color: var(--content-form-background-color)
  box-shadow: 0 -1px 2px 0 var(--content-form-shadow-color)
  user-select: none

  overflow: auto
  -webkit-overflow-scrolling: touch
  scroll-behavior: smooth
  scrollbar-width: none
  &::-webkit-scrollbar
    display: none

  @media screen and (min-width: $sidebar-width + $content-width + 64px)
    min-width: $content-width + 32px
    max-width: $content-width + 32px
    border-radius: 8px 8px 0 0

.header
  display: flex
  align-items: center
  width: calc(100% - 8px)
  height: 36px
  font-size: 12px
  border-bottom: 1px solid var(--form-border-color)
  color: var(--color-light-2)

.form
  position: relative
  min-height: 48px

  > div:first-child
    flex-grow: 1
    min-width: 0

  &._vertical
    flex-direction: column

    > div:first-child
      margin-right: 40px
      //margin-bottom: -12px

  @media screen and (min-width: $sidebar-width + $content-width + 64px)
    border-radius: 8px 8px 0 0

.button
  position: absolute
  top: 0
  right: env(safe-area-inset-right, 0)
  width: 42px
  height: 36px
  flex-shrink: 0
  align-self: flex-end

  > svg
    width: 18px
    height: 18px
    fill: var(--color-light-2)
