.root
  padding: 12px 0 16px
  white-space: pre-line
  overflow-wrap: break-word
  font-family: var(--font-family-content)
  font-weight: var(--font-weight-content)
  font-size: 16px
  letter-spacing: .2px
  user-select: none
