.root
  display: flex
  align-items: center
  padding-left: 28px
  cursor: pointer

  > svg
    margin-right: 12px
    width: 16px
    height: 16px
    flex-shrink: 0
    fill: var(--default-font-color)

  > span
    font-family: var(--font-family-content)
    font-weight: var(--font-weight-content)
    font-size: 16px
    letter-spacing: .2px
    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden

  &:not(:last-child)
    margin-bottom: 8px

  &._checked
    padding-left: 0
