.root
  display: flex
  justify-content: center
  align-items: center
  flex-shrink: 0
  width: 96px
  height: 96px

  > svg
    width: 100%
    height: 100%

    > path
      &:first-child
        fill: transparent !important
      &:last-child
        stroke: var(--default-font-color) !important
