.root
  width: 100%
  flex-shrink: 0

for i in range(0px, 48px, 4)
  ._size-px-{i}
    height: i

  @media $mobile
    ._mSize-px-{i}
      height: i

  @media $desktop
    ._dSize-px-{i}
      height: i

for i in range(0vh, 10vh, 1)
  ._size-vh-{i}
    height: i

  @media $mobile
    ._mSize-vh-{i}
      height: i

  @media $desktop
    ._dSize-vh-{i}
      height: i

@media $desktop
  ._dSize-px-60
    height: 60px

  ._dSize-px-64
    height: 64px

  ._dSize-px-72
    height: 72px
