.root
  display: flex
  align-items: center
  margin: 0
  padding: 0
  white-space: pre-line

  > svg
    margin-left: 8px
    width: 20px
    height: 20px
    fill: var(--color-grey-0)
    cursor: pointer

._large
  font-size: 18px

._small
  font-size: 14px

._bold
  font-weight: bold

._center
  text-align: center

._grey
  color: var(--color-grey-0)

._uppercase
  text-transform: uppercase
