.attachments
  margin-right: -34px
  max-height: 240px
  padding-right: 34px

  overflow-y: scroll
  overflow-y: overlay
  -webkit-overflow-scrolling: touch
  scroll-behavior: smooth
  scrollbar-width: thin
  scrollbar-color: var(--scrollbar-inverted-color) var(--scrollbar-inverted-background-color)

  &::-webkit-scrollbar
    position: absolute
    background-color: var(--scrollbar-inverted-background-color)
    width: 4px

  &::-webkit-scrollbar-track
    background-color: var(--scrollbar-inverted-background-color)

  &::-webkit-scrollbar-thumb
    background-color: var(--scrollbar-inverted-color)
    border-radius: 4px

  &::-webkit-scrollbar-button
    display: none

.buttons
  margin-left: auto
  display: flex
  flex-shrink: 0
  height: 48px

.button
  width: 40px
  height: 48px
  flex-shrink: 0
  align-self: flex-end

  > svg
    width: 20px
    height: 20px
    fill: var(--color-light-2)

  &._primary > svg
    fill: var(--color-brand)

.loader
  margin: 15px 8px
  flex-shrink: 0
  width: 18px
  height: 18px
  align-self: flex-end

.input
  flex-grow: 1
  height: 48px
  max-height: 240px
  padding-right: 6px

.mediaCount
  position: absolute
  left: -16px
  bottom: 0
  display: flex
  align-items: flex-end
  height: 48px
  padding: 0 0 14px 16px
  color: var(--color-blue-1)
  line-height: 1

  > div
    margin-right: 8px
    flex-shrink: 0

  > svg
    margin-right: 8px
    width: 20px
    height: 20px
    flex-shrink: 0
    fill: var(--color-blue-1)

  &._withButton
    padding-left: 6px

    > button
      width: 40px
      height: 20px

      > svg
        width: 20px
        height: 20px
        fill: var(--color-light-2)
