.root
  margin-right: -4px
  display: flex
  align-items: center
  flex-shrink: 0

  @media $desktop
    margin-right: -6px

.icon
  margin-right: 8px
  flex-shrink: 0
  display: flex
  align-items: center
  justify-content: center
  width: 40px
  height: 40px
  border-radius: 8px
  background-color: var(--color-brand)

  > svg
    width: 32px
    height: 32px
    fill: var(--color-white)

  @media $desktop
    margin-right: 16px
    width: 56px
    height: 56px

    > svg
      width: 44px
      height: 44px

.text
  position: relative
  margin: 0
  padding: 0
  flex-shrink: 0
  color: transparent
  text-transform: uppercase
  font-weight: 400
  line-height: 1
  font-size: 24px
  letter-spacing: 4px

  &::before
  &::after
    position: absolute
    top: 0

  &::before
    left: 0
    color: var(--color-brand)
    content: 'Tg'
    font-weight: bold

  &::after
    right: 0
    color: var(--default-font-color)
    content: 'Storage'

  @media $desktop
    font-size: 35px
    letter-spacing: 6px
