.root
  position: absolute
  z-index: 1
  display: flex
  justify-content: center
  align-items: center
  flex-shrink: 0
  width: 100%
  height: 100%

  @media $desktop
    position: relative
    flex-grow: 1
    width: auto
    background-color: var(--content-background-color)

._active
  z-index: 10
