.root
  position: relative
  display: flex
  justify-content: center
  align-items: center
  flex-shrink: 0
  width: 40px
  height: 18px
  border: 1px solid var(--default-font-color)
  border-radius: 4px
  font-size: 10px
  font-weight: 500

.badge
  position: absolute
  top: -8px
  right: -8px
  width: 8px
  height: 8px
  border-radius: 50%
  background-color: red
