.root
  position: relative
  z-index: 0
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  height: 100%
  padding: 0

  &._performance
    -webkit-backface-visibility: hidden
    -webkit-transform-style: preserve-3d
    -webkit-perspective: 1200px

.image
.player
  max-width: 100%
  max-height: calc(100% - 96px)
  -webkit-touch-callout: default

.image
  display: block
  width: auto
  height: auto

.loader
  position: absolute
  z-index: 12

:global(.fullscreen)
  .image
  .player
    max-height: 100%
