.root
  position: sticky
  position: -webkit-sticky
  z-index: 6
  top: 20px
  margin: -24px 0 0 calc(100% - 48px - 20px)
  width: 48px
  height: 48px
  background-color: var(--sidebar-header-background-color)
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.12)

  @media $desktop
    top: 24px
