.root
  display: flex
  height: 100%
  background-color: inherit

._center
  margin: 0 auto
  flex-direction: column
  align-items: center
  width: 300px

._sidebar
  position: relative
  z-index: 2
  flex-shrink: 0
  width: 100%
  background-color: var(--color-black-2)
  overflow: hidden

  @media $light
    background-color: var(--color-white)

  @media $desktop
    min-width: 320px
    width: 20vw

._content
  position: absolute
  z-index: 1
  flex-shrink: 0
  width: 100%
  background-color: var(--color-black-1)

  @media $light
    background-color: var(--color-grey-0)

  @media $desktop
    position: relative
    flex-grow: 1
