.root
  display: flex
  height: 100%
  background-color: inherit

._center
  margin: 0 auto
  flex-direction: column
  align-items: center
  width: 300px

._sidebar
  position: relative
  z-index: 4
  flex-shrink: 0
  width: 100%
  background-color: var(--sidebar-background-color)
  overflow: hidden

  @media $desktop
    min-width: 320px
    width: 20vw

._content
  position: absolute
  z-index: 1
  flex-shrink: 0
  width: 100%
  background-color: var(--content-background-color)

  @media $desktop
    position: relative
    flex-grow: 1
