.root
  display: flex
  justify-content: center
  align-items: center
  width: 96px
  height: 96px
  border-radius: 50%

._icon
  background-color: var(--avatar-background-color)

  > svg
    width: 28px
    height: 28px
    fill: var(--color-light-2)
