.root
  display: flex
  justify-content: center
  align-items: center
  width: 32px
  height: 32px
  border-radius: 50%
  cursor: pointer

._icon
  background-color: var(--avatar-background-color)

  > svg
    width: 18px
    height: 18px
    fill: var(--default-font-color)
