.root
  display: flex
  justify-content: center
  align-items: center
  width: 36px
  height: 36px
  border-radius: 50%
  background-color: var(--color-black-2)
  cursor: pointer

  > svg
    width: 18px
    height: 18px
    fill: var(--default-font-color)
