.mediaWrapper
  margin-left: -16px
  display: flex
  flex-wrap: wrap

.mediaItem
  margin: 0 0 16px 16px
  height: 80px
  border-radius: 8px

  &._image
    width: 80px

  &._video
    width: 142px

.preview
  position: relative
  width: 100%
  height: 100%
  border-radius: 8px
  overflow: hidden

  > img
    position: absolute
    width: 100%
    height: 100%
    object-fit: cover

    &:first-child
      filter: blur(4px)
