.root
  position: absolute
  flex-shrink: 0
  width: $content-width
  max-width: calc(100% - 40px)
  padding: 20px 0

.content
  width: 100%
  padding: 0 16px
  background-color: var(--content-item-background-color)
  border-radius: 8px

.header
  display: flex
  align-items: center
  height: 28px
  font-size: 12px
  border-bottom: 1px solid var(--item-border-color)
  color: var(--color-light-2)

.text
  padding: 12px 0 16px
